@font-face {
	font-family: 'Oxygen-Bold';
	src: url('../fonts/Oxygen-Bold.ttf');
}

@font-face {
	font-family: 'Cairo-Bold';
	src: url('../fonts/Cairo-Bold.ttf');
}

@font-face {
	font-family: 'Urbanist-Bold';
	src: url('../fonts/Urbanist-Bold.ttf');
}

@font-face {
	font-family: 'Raleway-Bold';
	src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: "Alike-Angular";
  src: url("../fonts/AlikeAngular-Regular.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: ("../fonts/Lato-Regular.ttf");
}


@font-face {
  font-family: "Tinos-Regular";
  src: ("../fonts/Tinos-Regular.ttf");
}

@font-face {
  font-family: "Obitron-SemiBold";
  src: ("../fonts/Obitron-SemiBold.ttf");
}

@font-face {
  font-family: "Domine-Bold";
  src: ("../fonts/Domine-Bold.ttf");
}



