a{
  color: #00aabb !important;
  font-family: "Urbanist-Bold";
  font-weight: 500;
  font-size: medium;
  text-decoration: none;
}

.menu-item{
  color: #00aabb;
  font-family: "Raleway-Bold";
  font-weight: 500;
  font-size: medium;
  text-decoration: none;
}


.nav-link{
  color: #00aabb;
}

footer > a {
  color: #f0f7ff !important;
}

