h1 {
  font-family: "Oxygen-Bold" !important;
  font-size: xx-large !important;
  font-weight: bolder !important;
  text-transform: capitalize;
  color: #00aabb;
}

h2 {
  font-family: "Cairo-Bold" !important;
  color: #e6008e;
  font-size: x-large;
}

h3 {
  color: #000;
  font-family: "Lato-Regular" !important;
  font-size: larger;
}

h4 {
  color: #000;
  font-family: "Obitron-SemiBold" !important;
  font-size: large;
}

h5 {
  color: #000;
  font-size: medium !important;
  font-family: "Domine-Bold" !important;
}

h6 {
  color: #000;
  font-size: medium !important;
  font-family: "Tinos-Regular" !important;
}

p {
  color: #000;
  font-family: "AlikeAngular-Regular" !important;
  font-size: large;
}

.mat-tab-label .mat-tab-label-content {
  color: #00aabb;
  font-family: "Cairo-Bold";
}

.latoRegular {
  font-family: "Lato-Regular" !important;
  font-size: medium !important;
}






