<section class="container-fluid">
    <mat-card class="mat-elevation-z6 card mb-3">
        <mat-card-content>
            <mat-stepper orientation="vertical"  #stepper>
                <mat-step [stepControl]="formGroup">
                    <form [formGroup]="formGroup" class="mat-elevation-z4 centered form col-lg-6 col-md-10 col-sm-12">
                        <ng-template matStepLabel><h3 class="fs-3 text-primary">Upload Your PDF Document</h3></ng-template>      
                        <button mat-raised-button class="p-1">
                            <mat-icon class="material-symbols-outlined">attachment</mat-icon>
                            <input type="file" id="attachments" (change)="onFileChange($event)" accept=".pdf" />
                        </button>

                        <mat-card-actions class="align-buttons-center">
                            <button type="submit" mat-raised-button color="primary" (click)="uploadFile()" matStepperNext><mat-icon class="material-symbols-outlined">upload</mat-icon>Upload File</button>
                            <button type="reset" mat-raised-button color="warn"><mat-icon>cancel</mat-icon>Clear</button>
                        </mat-card-actions>
                        <div class="spacer"></div>

                        <div>
                            <small class="text-warn">Use Your PDF Name as *Document* in the **Prompt** Section.</small>
                        
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="promptForm">
                    <form [formGroup]="promptForm" class="mat-elevation-z4 centered form col-lg-6 col-md-10 col-sm-12">
                        <ng-template matStepLabel><h3 class="fs-3 text-accent">Your Prompt </h3></ng-template>

                        <mat-form-field appearance="fill" class="p-1  form-control">
                           <mat-label>Document </mat-label>
                           <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
                           <mat-hint align="end">Select Document</mat-hint>
                           <input type="text" matInput formControlName="document" placeholder="Document Name">
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="p-1  form-control">
                           <mat-label>Prompt </mat-label>
                           <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
                           <mat-hint align="end">Your Prompt</mat-hint>
                           <input type="text" matInput formControlName="prompt" placeholder="Prompt">
                        </mat-form-field>

                        <mat-card-actions class="align-buttons-center">
                            <button type="submit" mat-raised-button color="primary" (click)="ngOnSubmit()" matStepperNext><mat-icon class="material-symbols-outlined">send</mat-icon>Send</button>
                            <button type="reset" mat-raised-button color="warn"><mat-icon>cancel</mat-icon>Clear</button>
                        </mat-card-actions>
                        <div class="spacer"></div>
                    </form>
                </mat-step>
  
  
                <mat-step>
                    <ng-template matStepLabel><h3 class="fs-3 text-warn">Done</h3></ng-template>

                    <mat-card class="mat-elevation-z8 fs-6" role="alert" cdkScrollable cdkTextareaAutosize="auto" #Response
                        [contentEditable]="true" contenteditable="true" *ngIf="PromptResponse">
                        <h5 class="lead fs-5">
                            {{ PromptResponse }}
                        </h5>

                    </mat-card>

                    <mat-card-actions class="align-buttons-center"  *ngIf="PromptResponse">
                            <button type="submit" mat-raised-button color="primary" (click)="ngOnSummarize(PromptResponse)"><mat-icon class="material-symbols-outlined">density_small</mat-icon>Summarize</button>

                        </mat-card-actions>

                    <mat-card *ngIf="!PromptResponse">
                        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
                        <mat-card-title><h2>Fetching Response............</h2></mat-card-title>
                    </mat-card>


                    <div>
                        <button mat-raised-button color="accent" matStepperPrevious>
                            <mat-icon class="material-symbols-outlined">chevron_left</mat-icon>
                            Back
                        </button>
                        <button mat-raised-button  color="warn" (click)="stepper.reset()">
                            <mat-icon class="material-symbols-outlined">undo</mat-icon>
                            Reset
                        </button>
                    </div>
                </mat-step>
            </mat-stepper>
      
         </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>
</section>